{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Browse BPD Watch{% endblock %}
{% block meta %}<meta name="description" content="Browse a department on BPD Watch.">{% endblock %}
{% block content %}

<div role="main">
  <div class="hero-section no-sub">
    <div class="hero">Browse a Department</div>
  </div>
</div>

<div class="container" role="main">
  <div class="text-center frontpage-leads">
  {% for department in departments %}
      <div class="btn-group department">
        <h2>{{ department.name }}
        {% if current_user.is_administrator %}
            <a href="{{ url_for('main.edit_department', department_id=department.id) }}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
        {% endif %}
       </h2>
        {% if department.short_name == 'BPD' %}
        <span class="small">
          Available data range: 5/3/2018 - 11/18/2021. <a href="https://github.com/openjusticebaltimore/BPDWatch-data">See the raw datasets here.</a>
        </span>
        {% elif department.short_name == 'BCoPD' %}
        <span class="small">
          Available data from 8/11/2021. <a href="https://github.com/openjusticebaltimore/BPDWatch-data">See the raw datasets here.</a>
        </span>
        {% endif %}
        <p>
          <a class="btn btn-lg btn-primary" href="{{ url_for('main.list_officer', department_id=department.id) }}">
             Officers
          </a>
          {% if department.incidents %}
          <a class="btn btn-lg btn-primary" href="{{ url_for('main.incident_api', department_id=department.id) }}">
             Incidents
          </a>
          {% endif %}
        </p>
        {% if department.short_name == 'BPD' %}
        <h3>Baltimore State's Attorney's Office's 
          <a target="_blank" href="https://www.stattorney.org/media-center/press-releases/2428-state-s-attorneys-mosby-and-braveboy-publish-do-not-call-lists">Do Not Call list</a></h3>
        <span class="small">The Baltimore State's Attorney's Office compiled a list of officers they won't call to testify in court, either because of criminal convictions or substantiated claims of misconduct.</span>
        <p>
          <a class="btn btn-lg btn-primary" href="{{ url_for('main.list_officer', department_id=department.id, sao_list=['Do Not Call']) }}">
            See the list
         </a>
        </p>
        <h3>Baltimore State's Attorney's Office's 
          <a target="_blank" href="https://www.baltimoresun.com/news/crime/bs-md-ci-cr-marilyn-mosby-list-cops-credibility-issues-20220525-n5kab6xio5cpjjgio7acoehaiu-story.html">list of officers with credibility issues</a></h3>
        <span class="small">The Baltimore State's Attorney's Office compiled a larger list of officers about whom they have concerns regarding their integrity and whether their testimony in court can be trusted. These officers have not had allegations against them sustained, are not prohibited from testifying in court, and most are actively employed with BPD.</span>
        <p>
          <a class="btn btn-lg btn-primary" href="{{ url_for('main.list_officer', department_id=department.id, sao_list=['Credibility Issues']) }}">
            See the list
         </a>
        </p>
        {% endif %}
      </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
